#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

h1 {
  margin: auto;
}

#title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  color: pink;
}

#wind-farm-silhouette {
  width: 300px;
}

.background {
  color: aqua;
}